body {
    text-align: center;
}

p {
    text-decoration: none;
    color: #ffffff;
}



.box {
    background: rgb(255, 255, 255);
    width: 600px;
    border-radius: 6px;
    margin-top: 0%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0%;
    padding: 70px 0px 120px 0px;
    background: #ffffff; 
}

.email {
    text-align: center;
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width: 250px;
    color: #535353;
    margin-top: 10px;
    font-size: 1em;
    border-radius: 4px;
}

.password {
    text-align: center;
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 250px;

}

.btn {
    background: #2ecc71;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 20px;
    float: left;
    margin-left: 120px;
    font-weight: 800;
    font-size: 0.8em;
}

.btn:hover {
    background: #2CC06B;
}

#btn2 {
    float: left;
    background: #3498db;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 110px;
    font-weight: 800;
    font-size: 0.8em;
}

#btn2:hover {
    background: #3594D2;
}

#registro{
    color: white;
}