#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    color: #fff;
    padding: 20px;
    font-size: 14px;
    margin-top: 40px;
  




}

.footer-left img {
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
}

#imagenelogo {
    width: 80px;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;


}

#footerlogin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    color: #fff;
    padding: 20px;
    font-size: 14px;
    margin-top: 40px;
    /* poner el footer abajo del todo */
    position: absolute;
    bottom: 0;
    width: 100%;
  




}