#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    padding: 20px;
    margin-top: 40px;
}

#h1footer{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}